.root
  align-items center
  padding 6u 0
  +desktop()
    padding 10u 0

.h1
  font-size 40px
  color #ffffff
  margin 2u 0

.image
  height 10u
  width 10u

.descr
  text-align center
  color #ffffff
  padding 0 4u