.root
  align-items center
  padding 6u 0
  +desktop()
    padding 10u 0

.h1
  font-size 40px
  font-weight 300
  color $white
  margin-top 2u

.image
  height 10u
  width 10u

.descr
  text-align center
  color $white
  line-height 3u
  padding 0 4u
  margin-top 2u
  opacity .65