.root
  position relative
  flex-direction row
  margin-top 2u

.key
  position absolute
  left 0
  top 0
  color: $white

.text
  margin-left 12u
  line-height 3u
  color: $white
  font-weight 300
  opacity .65