.root
  position relative
  flex-direction row
  margin-top 2u
  &.first
    margin-top 0

.key
  position absolute
  left 0
  top 0
  color: $white
  +wide()
    font-size 16px

.text
  margin-left 12u
  line-height 3u
  color: $white
  font-weight 300
  opacity .65
  +wide()
    font-size 16px