.root
  width 22u
  height 22u
  padding 0.5u
  border 1px solid $borderColor
  border-radius: 100%

.content
  display flex
  align-items center
  justify-content center
  width 100%
  height 100%
  border 1px solid $borderColor
  border-radius: 100%