.root
  width 100%
  padding 4u
  align-items center
  &.-first
    border-top-left-radius: 1u
    border-top-right-radius: 1u
    +tablet()
      border-top-left-radius: 0
      border-top-right-radius: 0
  &.-last
    border-bottom-left-radius: 1u
    border-bottom-right-radius: 1u
    +tablet()
      border-bottom-left-radius: 0
      border-bottom-right-radius: 0
  +tablet()
    border-radius 0px
    width 20%

.counter
.title
  color: $white
  font-weight 300

.counter
  font-size 46px
  font-weight 300
  margin 1u 0
  +tablet()
    font-size 18px
  +desktop()
    font-size 28px

.title
  font-size 18px
  font-weight 300