.root
  width 100%
  padding 4u
  align-items center
  &.-first
    border-top-left-radius: 1u
    border-top-right-radius: 1u
  &.-last
    border-bottom-left-radius: 1u
    border-bottom-right-radius: 1u

.counter
.title
  color: $white
  font-weight 300

.counter
  font-size 46px
  font-weight 300
  margin 1u 0

.title
  font-size 18px
  font-weight 300