.root
  flex 1
  flex-basis auto
  justify-content center
  padding 4u
  align-items center
  +tablet()
    width 20%

.counter
.title
  color: $white
  font-weight 300

.counter
  font-size 46px
  font-weight 300
  margin 1u 0
  +tablet()
    font-size 18px
  +desktop()
    font-size 28px

.title
  font-size 18px
  font-weight 300