.root
  line-height 3u
  color $textColor
  +wide()
    font-size 18px
    line-height 4u

  &.tabletL
    +tablet()
      font-size 18px
      line-height 4u

  &.desktopAlignLeft
    +desktop()
      text-align left