.root
  justify-content center
  height 44px
  width 100%
  border-width 1px
  border-color $textColor
  border-radius 1u
  &.blue
    background-color: $accentColor
    border-color $accentColor

  &.transparent
    border-color $white

  +tablet()
    max-width 148px

.buttonText
  color $textColor
  text-align center
  &.blue,
  &.transparent
    color $white
