.btns
  align-items center
  width 100%
  margin-top 4u
  +tablet()
    margin-top 6u
    flex-direction row
    justify-content center

.buttonWrapp
  align-items center
  width 100%
  margin-top 2u
  +tablet()
    width 148px
    margin-top 0
    margin 0 1u

.sectionDescrWrapp
  margin-top 4u