.root
  padding 6u 3u
  text-align left
  +tablet()
    padding 8u 6u

.title
  font-size 20px
  color $white
  font-weight 300
  +tablet()
    font(xxl)

.description
  color $white
  margin-top 3u
  line-height 3u
  font-weight 300
  opacity .65

.buttonWrapp
  margin-top 4u
  align-items center
  +tablet()
    align-items flex-start

.contacts
  margin-top 6u

.social
  margin-top 6u
  flex-direction row

.copyright
  margin-top 6u
  font-size 11px
  color $white
  line-height 3u
  opacity .65


  