.root
  padding 6u 3u
  text-align left

.description
  color $white
  opacity .65

.title
  font-size 20px
  color $white

.description
  margin-top 3u
  line-height 3u

.buttonWrapp
  margin-top 2u


  