.cards
  width 100%
  margin-top 4u

.sectionDescrWrapp
  margin-top 4u

.description
  text-align justify
  line-height 3u
  color $textColor
  margin-top 4u

.buttonWrapp
  width 100%
  margin-top 4u